 #title{
	text-align: center;
	margin-top: 30px;
}

#instru{
	margin: 0 auto;
	width: 800px;
	text-align: left;
}

#file_name, #result_qual, #result_sync, #result_natu{
	visibility: hidden;
}

#content{
	float: top;
	width: 800px;
	margin: 0 auto;
}

#videos{
	float: top;
}

#videos, #rate, #info{
	text-align: center;
	overflow: auto;
	margin-top: 30px;
}

#video{
	width: 300px;
	height:300px;
}

.select_video{
	width: 600px;
	height:300px;
	flex-grow: 1;
}

.select_label{
	width: 600px;
	height:300px;
	flex-grow: 1;
}

#start_btn, #fname_list{
	float: left;
}

#rate_name{
  display: inline-block;
}

#rate{
	float: top;
}

.rate_radio{
	margin-left: 50px;
	flex-grow: 0.2;
}

#submit{
	float: top;
}

#next_btn, #dataset{
	float: right;
}







